{% extends "base.html" %}
{% block title %} mapas {% endblock %}

{% block content %}
 <style>
      .map {
        height: 700px;
        width: 100%;
      }
    </style>

    <h2>My Map</h2>
    <div id="map" class="map"></div>
    <script type="text/javascript">

   var datos = "{{ dato }}";
if(datos == undefined ) {

var route = /** @type {ol.geom.LineString} */ (new ol.format.Polyline({
        factor: 1e5
      }).readGeometry( datos, {
        dataProjection: 'EPSG:4326',
        featureProjection: 'EPSG:3857'
      }));

      var routeCoords = route.getCoordinates();
      var routeLength = routeCoords.length;

      var routeFeature = new ol.Feature({
        type: 'route',
        geometry: route
      });

var geoMarker = new ol.Feature({
  type: 'geoMarker',
  geometry: new ol.geom.Point(routeCoords[0])
});
var startMarker = new ol.Feature({
  type: 'icon',
  geometry: new ol.geom.Point(routeCoords[0])
});
var endMarker = new ol.Feature({
  type: 'icon',
  geometry: new ol.geom.Point(routeCoords[routeLength - 1])
});

var styles = {
  'route': new ol.style.Style({
    stroke: new ol.style.Stroke({
      width: 6, color: '#ffcc33'
    })
  }),
  'icon': new ol.style.Style({
    image: new ol.style.Icon({
      anchor: [0.5, 1],
      src: 'https://openlayers.org/en/v4.1.1/examples/data/icon.png'
    })
  }),
  'geoMarker': new ol.style.Style({
    image: new ol.style.Circle({
      radius: 7,
      snapToPixel: false,
      fill: new ol.style.Fill({color: 'black'}),
      stroke: new ol.style.Stroke({
        color: 'red', width: 2
      })
    })
  })
};



var vectorLayer = new ol.layer.Vector({
        source: new ol.source.Vector({
          features: [routeFeature, geoMarker, startMarker, endMarker]
        }),
        style: function(feature) {
          // hide geoMarker if animation is active

          return styles[feature.get('type')];
        }
      });

     var map = new ol.Map({
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          }),

            /*  gjsonFile,  */
              vectorLayer
        ],
        target: 'map',

        view: new ol.View({
          center: ol.proj.fromLonLat([-4.16, 40.57]),
          zoom: 6
        }),
          controls: new ol.control.defaults({
          attribution: false,
         })
      });

       var source = new ol.source.Vector({
        wrapX: false
      });
      var vector = new ol.layer.Vector({
        source: source
      });
      map.addLayer(vector);

     var x = parseFloat("{{ puntitox }}");
     var y = parseFloat("{{ puntitoy }}");
     var geom = new ol.geom.Point(ol.proj.transform([ y, x], 'EPSG:4326', 'EPSG:3857'));

      var feature = new ol.Feature(geom);
      source.addFeature(feature);

} else {

     var map = new ol.Map({
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })],
        target: 'map',

        view: new ol.View({
          center: ol.proj.fromLonLat([-4.16, 40.57]),
          zoom: 6
        }),
          controls: new ol.control.defaults({
          attribution: false,
         })
      });
}
          </script>


{% endblock %}