{% extends "base.html" %}

{% block title %} Track on-line {% endblock %}
{% block content %}


<center>

<div style="color:red;">
{% if mensaje != "." %}
    {{ mensaje }}
{% endif %}
</div>

<form method="POST" action="">
  {% csrf_token %}

    <div>
        <ol>

              {% for x in lista %}
                    <li  class="tablas"> {{ x.user }} :  <input type="radio" name="checkbox"  value="{{ x.user.email }}"> </li>
              {% endfor %}


        </ol>

    </div>
  <input type="submit" value="Localizar On-Line" />
</form>
</center>
{% endblock %}