{% extends "base.html" %}

{% block title %} Track on-line {% endblock %}
{% block content %}
<body onLoad="init()">
 <style>
      .map {
        height: 700px;
        width: 100%;
      }
    </style>

    <div id="map" class="map" ></div>
    <script type="text/javascript">



     var map = new ol.Map({
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          }),
            /*  gjsonFile,
              vectorLayer */
        ],
        target: 'map',
        view: new ol.View({
          center: ol.proj.fromLonLat([{{ long }}, {{ lat }}]),
          zoom: 13,
          maxZoom: 16
        }),
          controls: new ol.control.defaults({
          attribution: false,
         }).extend([
          new ol.control.FullScreen()
        ]),
      });


       var source = new ol.source.Vector({
           wrapX: false
      });
      var vector = new ol.layer.Vector({
        source: source
      });
      map.addLayer(vector);



function updateMarkers(lat, long) {
     var x = parseFloat(lat);
     var y = parseFloat(long);

     var feature1 = new ol.Feature({
     geometry: new ol.geom.Point(ol.proj.transform([ y, x], 'EPSG:4326', 'EPSG:3857'))
      });

        feature1.setStyle(new ol.style.Style({
                image: new ol.style.Icon({
                anchor: [0.5, 0.5],
               src: "/media/images/16471.png"
            })
            }));

     source.addFeature(feature1);

}

/*

    addfeature (ol.source.Vector.Event) - Triggered when a feature is added to the source.
    change (ol.events.Event) - Generic change event. Triggered when the revision counter is increased.
    changefeature (ol.source.Vector.Event) - Triggered when a feature is updated.
    clear (ol.source.Vector.Event) - Triggered when the clear method is called on the source.
    propertychange (ol.Object.Event) - Triggered when a property is changed.
    removefeature (ol.source.Vector.Event) - Triggered when a feature is removed from the source. See source.clear() for exceptions.


function updateMarkers2(lat, long) {
     var x = parseFloat(lat);
     var y = parseFloat(long);
     var geom = new ol.geom.Point(ol.proj.transform([ y, x], 'EPSG:4326', 'EPSG:3857'));

     var feature = new ol.Feature(geom);

     source.addFeature(feature);

}
*/

function init()
{
new Ajax.PeriodicalUpdater('dirtcount', '/maps/dirt_count/{{ lista }}', {
        method: 'get',frequency:10.0,decay:1,onSuccess: function(id) {

            var cor = id;
            console.log(cor["responseText"]);
            var lat = cor["responseJSON"][0][0];
            var long = cor["responseJSON"][0][1];

            updateMarkers(lat, long);
        }
    });
}

  /*           map.setView(new ol.View({
                projection: 'EPSG:4326',
                center: [long, lat], //long,lat
                zoom: 8
            })); */
    </script>


{% endblock %}