@charset "UTF-8";
/* CSS Document */



.ocultos {
    background-color: SkyBlue;

    padding: 0px;
    margin: 0px;
    border: 5px double;
    position: fixed;
    left: -470px;
    top: 15%;
    width: 500px;
    z-index: 66;
    cursor: pointer;
    background-image: url("/media/images/izquierda.png");
    background-position: right center;
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
    transition: transform 2s ease-in-out 0s;
}

.ocultos:hover {
    transform: translate(100%);
}

.tablas {
    padding: 15px;
    }

article {
     height: 200px;
    width: 200px;
    border: 2px solid red;
    margin: 50px;
    }

.imagenMenu {
    cursor: pointer;
    background-image: url("/media/images/izquierda.png");
    background-position: right center;
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
    z-index: 665;

    }

input:focus {
    background-color: yellow;
}
/*
.fondoGeneral {
        background-image: url("/media/images/AFT3.png");
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        background-attachment: fixed;
        background-size: cover;
    }




.fondoGeneral {
        height: 100%;
        width: 100%;
        background-image: url("/media/images/AFT3.png");
        background-repeat: no-repeat;
    }

html, SECTION {
    margin: 0px;
    padding: 0px;
    background-color: Aqua;
    }


body {

        background-image: url("/media/images/AFT3.png");
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
        background-size: cover;

    }
*/


.menu {
    width: 2.2rem;
    height: 4.7rem;
    background: #141716;
    border-radius: 0.5rem;
    position: absolute;
    top: 50%;
    left: 1%;
    color: white;
    text-align: center;
    transition: left 0.7s;
    z-index: 68;
    }

.checkbox:checked ~ .menu {
    left: 40%;
    border-radius: 0 0.5rem 0.5rem 0;
    }

.ocultos1 {
    width: 40%;
    height: 100%;
    background: -webkit-linear-gradient(#54BBC7, #2EE3AD, #9191f2);
    background: -o-linear-gradient(#54BBC7, #2EE3AD, #9191f2);
    background: linear-gradient(#54BBC7, #2EE3AD, #9191f2);
    position: absolute;
    top: 0;
    left: -39%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 68;
    transition: left 0.4s;
    }

.checkbox:checked ~ .ocultos1 {
    left: 0;
    }


#check {
    display: none;
    }

.aviso {
    padding: 10px;
    text-align: center;
    color: Red;
    }