{% extends "base.html" %}

{% block title %} AFT {% endblock %}
{% block content %}


<script type="text/javascript">


function init(usuario)
{
    new Ajax.PeriodicalUpdater('userActivo', '/maps/userActivo/'+usuario, {
        method: 'get',frequency:10.0,decay:1, onSuccess: function(id) {

            var cor = id;
            var fecha = cor["responseJSON"][0];
            var estados = cor["responseJSON"][1];
            console.log(fecha);
            if (estados === true){
                document.getElementById(usuario).innerHTML = "ACTIVO";
                document.getElementById(usuario).style.color = "green";
                } else {
                    document.getElementById(usuario).innerHTML = fecha.substr(0,19);
                    document.getElementById(usuario).style.color = "red";
                    }

        }
    });
}


</script>

<center>
    <H2>Lista Cuentas Asociadas</H2>
    <table>
        <tr>
            <th class="tablas">   Empresa   </th> <th class="tablas">   Usuario   </th> <th class="tablas">   Tipo de Cuenta   </th> <th class="tablas">   Activa   </th> <th class="tablas">   Asociada   </th> <th class="tablas">   Email de Localizacion   </th> <th class="tablas">  Ultima Conexion  </th>
        </tr>
        <tr>
            {% for x in lista %}
                {% for empresa in x.Empresa.all %}
                    <td class="tablas">{{ empresa }}</td> <td class="tablas">{{ x.user }}</td> <td class="tablas">{{ x.Tipo_Cuenta }}</td> <td>{{ x.Cuenta_Activa }}</td> <td class="tablas">{{ x.Asociado_A_Cuenta }}</td> <td class="tablas">{{ x.user.email }}</td> <td class="tablas"><script> init('{{x.user.email}}'); </script><div id="{{x.user.email}}"></div></td><td><a class="btn btn-primary" href="/DatosPersonales/{{ x.id }}/"><i class="icon-pencil"></i>Ver</a></td>

                {% endfor %}
        </tr>

            {% endfor %}
    </table>
</center>

{% if mensaje != "." %}
    {{ mensaje }}
{% endif %}


{% endblock %}