{% extends 'base.html' %}
{% block title %} Reserva de Restaurantes {% endblock %}
{% block content %}


<div class="row">
    <div class="span5">
        <p> Descripcion: {{ usuarioActual.Descripcion_corta }} </p>
<table class="table table-bordered">
    <tbody>
        <tr>
            <li> Usuario : {{ pp.user }} </li>
            <li> Pais : {{ usuarioActual.Pais }} </li>
            <li> Provincia : {{ usuarioActual.Provincia }} </li>
            <li> Email : {{ usuarioActual.user.email }} </li>

    </tbody>
</table>
</div>
    </div>
{% for a in pp %}
    {{ a.Nombre }}
{% endfor %}

<br>

{% endblock %}
